/* Base styles */
.news-container {
    max-width: 100%;
    margin: auto;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Light grey background for better contrast */
}

.news-content-container {
    display: flex;
    justify-content: space-around; /* This will space out the two news sections */
}

.news-items {
    flex: 1; /* This will allow both sections to take up equal space */
    margin: 10px; /* Adjust as necessary */
}

/* If you want a max-width or to wrap the items on smaller screens */
@media (max-width: 768px) {
    .news-content-container {
        flex-direction: column;
    }
}

.ticket-selector,
.date-picker-container,
.pagination {
    text-align: center;
    color: #333;
}

.ticket-selector {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.ticket-selector label {
    margin-right: 0.5rem;
}

.ticket-selector select {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    width: 100%;
    max-width: 300px; /* Maximum width suitable for mobile devices */
}

.date-picker-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.date-picker-container h4 {
    margin-right: 0.5rem;
}

.react-datepicker-wrapper {
    width: auto;
}

.react-datepicker__input-container input {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    width: 150px; /* Fixed width for date inputs */
}

/* Style for the news items */
.news-items {
    color: #333;
}

.news-item {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.news-logo {
    width: 100px;
    margin-bottom: 1rem;
}

.news-title {
    color: #0077cc;
    margin-bottom: 0.5rem;
    text-align: left;
}

.news-author,
.news-published,
.news-description {
    color: #666;
    margin-bottom: 0.25rem;
    padding-left: 0;
    text-align: left;
    margin-left: 0;
}

.news-read-more {
    color: #0077cc;
    text-decoration: none;
    margin-top: 1rem;
    align-self: flex-end;
}

/* Pagination styles */
.pagination button {
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ddd;
    background: none;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
}

.pagination button:hover {
    background-color: #f0f0f0;
}

/* Adjust padding and margins for smaller screens */
@media (max-width: 600px) {
    .news-item {
        padding: 15px;
        margin-bottom: 15px;
    }

    .news-logo {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    .news-content {
        margin-top: 10px;
    }

    .news-read-more {
        display: inline-block;
        margin-top: 10px;
        background-color: #007bff;
        color: white;
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
    }

    .react-datepicker__input-container input,
    .ticket-selector select {
        width: 100%; /* Full width on mobile */
    }
}

/* General styles for title and text */
.news-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.news-author,
.news-published,
.news-description {
    font-size: 1rem;
}

/* No news and loading message styles */
.loading-message,
.no-news-message {
    color: #333;
    text-align: center;
    padding: 20px;
}
